 @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Quicksand:wght@300;400;500;600;700&family=Zen+Dots&display=swap');

 /* general styling */
 * {
     padding: 0;
     margin: 0;
     /* background-color: #000; */
     /* color: rgb(110, 43, 233); */
     color: white;
     font-family: "Open Sans", 'Courier New', Courier, monospace;
 }

 .constainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 90%;
 }

 .section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #000;
     width: 100vw;
 }

 .section .section-heading {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 50px;
 }

 /* nav styling */

 .nav {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     /* position: fixed; */
     width: 100vw;
     background-color: #000;
 }

 .nav .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     height: 100%;

 }

 .nav .logo {
     font-size: 28px;
     padding: 0 20px;
 }

 .logo-text {
     font-family: 'Quicksand', sans-serif;
     text-transform: uppercase;
     font-size: 16px;
 }

 .nav .menu {
     display: flex;
     justify-content: space-around;
     align-items: center;

 }

 .nav .menu .list-items {
     list-style-type: none;
     text-decoration: none;
     padding: 10px 20px 10px 20px;

     cursor: pointer;
 }

 .nav .menu .list-items:hover {
     text-decoration: underline;
     font-weight: 700;
 }

 /* main/hero section styling */

 .main {
     /* background-color: aquamarine; */
     display: grid;
     place-items: center;
 }

 .main .container {
     display: grid;
     place-items: center;

     background-color: #000;
     width: 90%;
     height: 100%;
 }

 .main-heading {
     font-family: 'Michroma', sans-serif;
     text-transform: uppercase;
     font-size: 120px;

 }

 .about {
     background-color: rgb(15, 236, 152);
     height: 50vh;
 }

 .work {
     /* background-color: rgb(222, 36, 247); */
 }

 .contact {
     /* background-color: rgb(66, 158, 245); */
 }

 .footer {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000;
     /* position: fixed; */
     width: 100vw;
     height: 50vh;

 }

 .footer-text {
     color: aliceblue;
     font-size: 50px;

 }